  body {
    font-family: 'Alegreya SC';
   
}
  

 
  img{
        width:100%;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Acme';
    }
  .cert img{
      height:200px;
      width:200px
  }  
    .fa,.devicon{
      font-size:50px;
      
  }
 
 .fa-li{color:gold;}
#image{
    width:200px;
    height:100px;
    border-radius:50%;
}
 a{
text-decoration:none;
}
 a:hover{
    color:grey;
 }